h5 {
    float: left;
    color: green;
    padding-top: 14px;
}

.student_columns {
    color: black;
}

.buttons_head {
    margin-left: 3px ;
}

.card {
      background-color: white;
}

.table>:not(caption)>*>* {
      background-color: honeydew;
}

th {
    background-color: #c6dc8a !important;
}

a {
    text-decoration: none;
}

.reading_button {
    color: black;
}

.student_button {
    width: 100%;
    float: right;
    border: 1px solid black;
    color: black;
}

.student_button:hover {
    border: 1px solid gray;
}

.books_button {
    width: 100%;
    background-color: #2C5530;
    float: right;
    border: 1px solid black;
}

.books_button:hover {
    background-color: #2C5530;
    border: 1px solid gray;
    color: white;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.popup {
  background-color: #c6dc8a;
  width: 500px;
  padding: 20px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
}

#popupUsername {
    margin: 30px;
}

.popup_section {
  display: grid;
  height: fit-content;
  text-align: center;
  gap: 8px;
}

.popup button {
  margin-top: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 8px 16px;
  border-radius: 6px;
}

.btn-group {
    width: 100%;
}

.dropdown-menu.show {
    width: 50px !important;
    position: relative;
    vertical-align: middle;
}

.reading_dropdown {
    min-width: 100% !important;
}

a, a:active {
    color: black;
}

a:hover {
    color: green;
}

.progress_table {
  position: absolute;
  width: 100%;
  top: 0px;
  margin: 100px 0px 100px 0px;
}

@media (min-width: 992px) {
    .books_button {
        max-width: 211px;
    }
}

@media (max-width: 576px) {
    .dropdown-menu.show {
        width: 130px !important;
    }
}