.container.form-container {
  background-color: #E7CDAB;
  padding: 20px;
  border-radius: 10px;
  padding-bottom: 50px;
}

.form-container .form-group {
  margin-bottom: 10px;
}

.form-container h3 {
  color: #000000; 
}

.form-container p {
  color: #000000;
}

.form-container .error-message {
  color: red;
}

.form-container label {
  color: #000000; 
}