.books-page {
  margin-top: 70px;
  margin-bottom: 20px;
}

.recBooksList {
  display: none;
}

.recommended-book {
  display: none;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 20px;
  justify-items: center;
}

/* Style for book cards */
.card {
  height: 260px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 15px;
  overflow: hidden;
  width: 300px;
}

.card-body {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  justify-content: space-between;
  color: black !important;
  background-color: #E7CDAB;
}

/* Style for checkbox and label */
.card-body input[type="checkbox"] {
  margin-left: 10px;
}

.card-body label {
  margin-bottom: 0;
}

.show {
  display: block;
}

.card-footer {
  padding: 10px;
  border-top: 1px solid #ccc;
  border-radius: 0 0 5px 5px;
  color: black !important;
  background-color: #E7CDAB
}

.card-title {
  margin-bottom: 5px;
}

.custom-checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Style for custom checkbox */
.checkbox-label {
  display: inline-block;
  position: relative;
  padding-left: 25px;
  cursor: pointer;
}

/* Custom checkbox design */
.checkbox-label:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #333;
  border-radius: 3px;
}

/* Checked state for custom checkbox */
.custom-checkbox:checked + .checkbox-label:before {
  background-color: #333;
}

/* Checkmark design */
.checkbox-label:after {
  content: '';
  position: absolute;
  top: 4px;
  left: 5px;
  width: 7px;
  height: 13px;
  border: solid #fff;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  opacity: 0;
}

.custom-checkbox:checked + .checkbox-label:after {
  opacity: 1;
}

.submit-button {
  margin-top: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 8px 16px;
  border-radius: 6px;
}

.recommended-books-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 20px;
  justify-items: center;
  margin-bottom: 20px;
}

.recommended-book {
  margin: 15px;
  box-sizing: border-box;
}


  @media (max-width: 768px) {
    .recBooksList {
      width: calc(50% - 30px);
    }


