{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='all_students.css') }}">
{% endblock %}

{% block body_content %}
{% if confirm_delete %}
    <h2>{{ confirm_delete }}</h2>
{% endif %}
<h1>Students' Reading Progress</h1>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 white_columns">
        <table class="table">
            <thead class="table-secondary">
              <tr>
                <th scope="col">Username</th>
                <th scope="col">Reading Level</th>
                <th scope="col">Current Books</th>
                <th scope="col">Books Read this Week</th>
                <th scope="col">Total Books Read</th>
                <th scope="col">Delete Account</th>
              </tr>
            </thead>
            <tbody>
            {% for student in students_progress %}
              <tr>
                <th scope="row">{{ student.username }}</th>
                <td>
                    <div class="btn-group">
                      <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ student.reading_level }}
                      </button>
                      <ol class="dropdown-menu">
                        {% for level in reading_levels %}
                            {% if level.colour != student.reading_level %}
                                <li>{{ level.colour }}</li>
                            {% endif %}
                        {% endfor %}
                      </ol>
                    </div>
                </td>
                <td>{{ student.current_books }}</td>
                <td>{{ student.books_week }}</td>
                <td>{{ student.total_books }}</td>
                  <td><a href="#" class="text-danger"
                         onclick="openDeletePopup('{{ student.account_id }}', '{{ student.username }}')">Delete
                  </a></td>
              </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-1"></div>
</div>
<!--  confirm delete account pop up section-->
  <div id="popupOverlay" class="overlay">
    <div class="popup">
        <div class="popup_section">
          <h4>Do you want to <span style="color:red">delete</span> this account, including its reading
              history?</h4>
          <h5 id="popupUsername"></h5>
        </div>
      <a href="" id="deleteAccount">YES</a>
      <button id="closePopup">Nevermind</button>
    </div>
  </div>
<script src="{{ url_for('static', filename='/javascript/all_students.js') }}"></script>
{% endblock %}