{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='home_styles.css') }}">
{% endblock %}

{% block body_content %}

<div class="container">

    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">

        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="{{ url_for('static', filename='/images/matilda_book.jpg') }}" class="carousel-image d-block w-100"
                 alt="Matilda book">
          </div>
          <div class="carousel-item">
            <img src="{{ url_for('static', filename='/images/harry_potter_books.webp') }}"
                 class="carousel-image d-block w-100"
                 alt="Harry Potter books">
          </div>
          <div class="carousel-item">
            <img src="{{ url_for('static', filename='/images/narnia_books.jpg') }}" class="carousel-image d-block w-100"
                 alt="Narnia books">
          </div>
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>

    </div>
    <br>
    {% if username %}
        <h4>You are logged in as: {{ username }}</h4>
        <a href="{{ url_for('logout') }}">Logout</a>
    {% else %}
        <h4>You are not logged in.</h4>
        <a href="{{ url_for('login') }}">Login</a>
    {% endif %}

</div>

{% endblock %}
