{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='my_books.css') }}">
{% endblock %}

{% block body_content %}
{% if not session.get('username') or session.get('role') == 1 %}
<div class="row justify-content-center">
    <div class="col-1 col-md-3"></div>
    <div class="deny_access col-10 col-md-6 d-flex align-items-center justify-content-center">
        <div>
            <img class="library_img m-4 rounded-3" src="{{ url_for('static', filename='/images/kids_library.png') }}">
            <h2>Dear Student,</h2>
            <h4 class="deny_text">Log in to view your books.</h4>
        </div>
    </div>
    <div class="col-1 col-md-3"></div>
</div>
{% else %}
<div class="row m-5 text-center">
    <h2 class="mt-5 pt-5">Hi {{username}}, what are you reading today?</h2>
</div>
{% if confirm_update %}
<div class="row m-t text-center">
    <h4>{{ confirm_update }}</h4>
</div>
{% endif %}

<!-- RECOMMENDED BOOKS -->
<h4 class="mt-4 px-5">Recommended Books</h4>
<div class="mb-5 pb-5">
    <div class="books_container">
        {% for book in books_from_db %}
            {% if book.recommended == 1 %}
            <div class="my-books-card"
                 onclick="openPopup('{{ book.title }}', '{{ book.image_url }}', '{{ book.author }}', decodeURIComponent('{{ book.book_blurb|urlencode }}'), '{{ book.genre }}', '{{ book.pages }}', '{{ book.reading_level }}', '{{book.book_id}}', false)">
                <div class="card">
                    <div class="card-body">
                        <div class="book_link">
                            <img src="{{ book.image_url }}" alt="{{ book.title }}" width="100" height="150">
                        </div>
                    </div>
                    <div class="card-footer">
                        <span class="card-title">{{ book.title }}</span>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

<!-- SAVED BOOKS -->
<h4 class="mt-4 px-5">Saved Books</h4>
<div class="mb-5 pb-5">
    <div class="books_container">
        {% for saved_book in saved_books_db %}
            {% for book in books_from_db %}
                {% if saved_book.book_id == book.book_id and saved_book.completed_date == None %}
                    <div class="my-books-card"
                         onclick="openPopupTwo('{{ book.title }}', '{{ book.image_url }}', '{{ book.author }}', decodeURIComponent('{{ book.book_blurb|urlencode }}'), '{{ book.genre }}', '{{ book.pages }}', '{{ book.reading_level }}', '{{book.book_id}}', '{{ saved_book.start_date }}', '{{ saved_book.current_page }}', '{{ saved_book.completed_date }}', '{{ saved_book.rating }}', true)">
                        <div class="card">
                            <div class="card-body">
                                <div class="book_link">
                                    <img src="{{ book.image_url }}" alt="{{ book.title }}" width="100" height="150">
                                </div>
                            </div>
                            <div class="card-footer">
                                <span class="card-title">{{ book.title }}</span>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
</div>

<!-- FINISHED BOOKS -->
<h4 class="mt-4 px-5">Finished Books</h4>
<div class="mb-5 pb-5">
    <div class="books_container">
        {% for saved_book in saved_books_db %}
            {% for book in books_from_db %}
                {% if saved_book.book_id == book.book_id and saved_book.completed_date != None %}
                    <div class="my-books-card"
                         onclick="openPopupTwo('{{ book.title }}', '{{ book.image_url }}', '{{ book.author }}', decodeURIComponent('{{ book.book_blurb|urlencode }}'), '{{ book.genre }}', '{{ book.pages }}', '{{ book.reading_level }}', '{{book.book_id}}', '{{ saved_book.start_date }}', '{{ saved_book.current_page }}', '{{ saved_book.completed_date }}', '{{ saved_book.rating }}', true)">
                        <div class="card">
                            <div class="card-body">
                                <div class="book_link">
                                    <img src="{{ book.image_url }}" alt="{{ book.title }}" width="100" height="150">
                                </div>
                            </div>
                            <div class="card-footer">
                                <span class="card-title">{{ book.title }}</span>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </div>
</div>

<!--POP UP | RECOMMENDED BOOKS -->
<div id="popupOverlay" class="overlay">
    <div class="popup">
        <h3 id="popupTitle"></h3>
        <div class="popup_details">
            <img id="popupImage" src="" alt="Popup Image" width="200">
            <div class="popup_section">
                <span id="popupAuthor"></span>
                <span id="popupBlurb"></span>
                <span id="popupGenre"></span>
                <span id="popupPages"></span>
                <span id="popupReadingLevel"></span>
            </div>
        </div>
        <button id="closePopup" class="close_btn">Close</button>
        <button id="addToReadinglist" class="add_btn">Add to Reading List</button>
    </div>
</div>

<!--POP UP | SAVED BOOKS & FINISHED BOOKS -->
<div id="popupOverlayTwo" class="overlay">
    <div class="popupTwo my-5">
        <h3 id="popupTitleTwo"></h3>
        <div class="popup_details">
            <img id="popupImageTwo" src="" alt="Popup Image" width="200">
            <div class="popup_section">
                <span id="popupAuthorTwo"></span>
                <span id="popupBlurbTwo"></span>
                <span id="popupGenreTwo"></span>
                <span id="popupPagesTwo"></span>
                <span id="popupReadingLevelTwo"></span>
            </div>
        </div>

        <form action="/update_student_book/{{ book_id }}" id="bookForm" method="post">

            <div class="book_form row m-5 justify-content-center">
                <div class="row mb-2">
                    <div class="col"><p>Start Date:</p><span id="start_stat"></span></div>
                    <div class="col">
                        <label for="start_date">Start Date:</label>
                        <input type="date" id="start_date" name="start_date" class="mt-3">
                    </div>
                </div>
                <div class="row m-4">
                    <div class="col"><p>Current Page:</p><span id="page_stat"></span></div>
                    <div class="col">
                        <label for="current_page">Current Page:</label>
                        <input type="number" id="current_page" name="current_page" min="0" max="" class="mt-3">
                    </div>
                </div>
                <div class="row mt-1 mb-4">
                    <div class="col"><p>Completed Date:</p><span id="completed_stat"></span></div>
                    <div class="col">
                        <label for="completed_date">Completed Date:</label>
                        <input type="date" id="completed_date" name="completed_date" class="mt-3">
                    </div>
                </div>
                <div class="row mt-1 mb-3">
                    <div class="col mt-3"><span id="rating_stat"></span></div>
                    <div class="col">
                        <label for="rating" class="mt-3">Rating (1-5):</label>
                        <input type="number" id="rating" name="rating" min="0" max="5" class="mb-3">
                    </div>
                </div>
                <input type="submit" class="mt-2">
            </div>

        </form>

        <button id="closePopupTwo" class="btn close_btn mb-5">Close</button>
        <button id="removeFromReadinglist" class="btn remove_btn mb-5">Remove from Reading List</button>
    </div>
</div>

<script src="{{ url_for('static', filename='/javascript/my_books.js') }}"></script>
{% endif %}
{% endblock %}