{% extends "layout.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='my_library.css') }}">
{% endblock %}

{% block body_content %}
<body>
<div class="library-page">
  <h2>My Library</h2>

  <!--  genre buttons-->
  <div class="btn-container" id="myBtnContainer">
    <button class="btn active" onclick="filterSelection('all')">Show all</button>
    {% for genre in genres_from_db %}
      <button class="btn" onclick="filterSelection('{{ genre.genre_name.lower() }}')">{{ genre.genre_name }}</button>
    {% endfor %}
  </div>

<!--  list of books-->
  <div class="library_wrapper">
    <div class="library_container">
      {% for book in books_from_db %}
        <div class="filterDiv {{book.genre.lower()}} col-md-3">
          <div class="book_link" onclick="openPopup('{{ book.title }}', '{{ book.image_url }}', '{{ book.author }}', decodeURIComponent('{{ book.book_blurb|urlencode }}'), '{{ book.pages }}', '{{ book.reading_level }}')">
            <img src="{{ book.image_url }}" alt="{{ book.title }}" width="100" height="150">
          </div>
          <span class="card-text">{{ book.title }}</span>
        </div>
      {% endfor %}
    </div>
  </div>

<!--  pop up section-->
  <div id="popupOverlay" class="overlay">
    <div class="popup">
      <h3 id="popupTitle"></h3>
      <div class="popup_details">
        <img id="popupImage" src="" alt="Popup Image" width="200">
        <div class="popup_section">
          <span id="popupAuthor"></span>
          <span id="popupBlurb"></span>
          <span id="popupPages"></span>
          <span id="popupReadingLevel"></span>
        </div>
      </div>
      <button id="closePopup">Close</button>
      <button id="readMeButton">Read Me</button>
    </div>
  </div>

  <script src="{{ url_for('static', filename='my_library.js') }}"></script>
</div>
</body>
{% endblock %}
