{% extends "layout.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='recommended_books_styles.css') }}">
{% endblock %}

{% block body_content %}
{% if not session.get('username') or session.get('role') == 2 %}
<div class="row justify-content-center">
    <div class="col-1 col-md-3"></div>
    <div class="deny_access_teacher col-10 col-md-6 d-flex align-items-center justify-content-center">
        <div>
            <img class="teacher_img m-4" src="{{ url_for('static', filename='/images/teacher.png') }}">
            <h2>Teacher Only Access</h2>
            <h4 class="deny_text">Dear Teacher, log in to access this area.</h4>
        </div>
    </div>
    <div class="col-1 col-md-3"></div>
</div>
{% else %}
<div class="books-page">
    <h2 class="headings">Recommended Books</h2>

    <div class="btn-container" id="recBooksButton">
        <button class="btn active" onclick="filterSelection('all')">Show all</button>
        {% for book in reading_levels_db %}
        <button class="btn" onclick="filterSelection('{{ book.colour.lower() }}')">{{ book.colour }}</button>
        {% endfor %}
    </div>


    <div class="recommended-books-container">
        {% for book in books_from_db %}
        <div class="recommended-book {{book.reading_level.lower()}} ">
            <div class="card">
                <div class="card-body">
                    <div>
                        <img src="{{ book.image_url }}" alt="{{ book.title }}" width="100" height="150">
                    </div>
                    <input
                            type="checkbox"
                            id="book_{{ loop.index }}"
                            name="selected_books"
                            value="{{ book.book_id }}"
                            class="custom-checkbox"
                            {% if book.recommended== 1 %}
                            checked
                            {% endif %}
                            onclick="redirectToRoute('{{ url_for('update_recommended_book', book_id=book.book_id, boolean_num=book.recommended) }}')"
                    >
                    <label for="book_{{ loop.index }}" class="checkbox-label">Select</label>
                </div>
                <div class="card-footer">
                    <span class="card-title">{{ book.title }}</span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script>
    function redirectToRoute(route) {
        // Redirect to the specified route
        window.location.href = route;
    }
</script>

<script src="{{ url_for('static', filename='/javascript/recommended_books.js') }}"></script>

<!--    <button type="submit" class="submit-button" id="submitRecList">Submit</button>-->
<!--  </form>-->

<!--  <script src="{{ url_for('static', filename='/javascript/recommended_books.js') }}"></script>-->
<!--  <script>-->
<!--    // Wait for the DOM to be fully loaded-->
<!--    document.addEventListener('DOMContentLoaded', function() {-->
<!--      // Get the form element-->
<!--      const form = document.getElementById('bookSelectionForm');-->
<!--      // Add event listener for form submission-->
<!--      form.addEventListener('submit', function(event) {-->
<!--        // Prevent the default form submission behavior-->

<!--       // Array to store checked checkboxes' values-->
<!--      const checkedBooks = [];-->

<!--      // Get all checkboxes with name "selected_books"-->
<!--      const checkboxes = document.querySelectorAll('input[name="selected_books"]:checked');-->

<!--      // Loop through checked checkboxes and add their values to the array-->
<!--      checkboxes.forEach(function(checkbox) {-->
<!--        checkedBooks.push(checkbox.value);-->
<!--      });-->

<!--      // Log the array of checked book IDs (for testing purposes)-->
<!--      console.log('Checked Books:', checkedBooks);-->


<!--        // Perform any additional logic before submission (if needed)-->

<!--        // Submit the form-->
<!--        form.submit();-->
<!--      });-->
<!--    });-->
<!--  </script>-->
{% endif %}
{% endblock %}
